*{
    margin: 0;
    padding: 0;
}
header{
    max-width: 1140px;
    margin: 0 auto;
}
.nav-ber{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3rem 0;
}
.nav-links a{
    text-decoration: none;
    color: rgb(68, 66, 66);
    font-size: 1.rem;
    margin-left: 1rem;
}